:root{
    --clr-cyan: hsl(158, 36%, 37%);
    --clr-dark-cyan: hsl(158, 36%, 18%);
    --clr-cream: hsl(30, 38%, 92%);

    --clr-dark-blue: hsl(212, 21%, 14%);
    --clr-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
    --fw-regular: 500;
    --fw-bold: 700;

    --font-family-accent: 'Fraunces', serif;
    --font-family-basic: 'Montserrat', sans-serif;
     

}


*,
*::before,
*::after
{
    box-sizing: border-box;
}

*{
    margin: 0;
}

html, body{
    height: 100%;
}
body{
    line-height: 1.7 ;
    -webkit-font-smothing: antialiased;
}

img,svg{
    display: block;
    max-width: 100%;
}

button{
    font: inherit;
}

p,h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
h1,h2,h3{
    line-height: 1;
}

body{
    font-family: var(--font-family-basic);
    font-weight: var(--fw-regular);
    color:var(--clr-gray-blue);
    font-size: 0.875rem;
    background-color: var(--clr-cream);
    display: grid;
    place-content: center; 
    min-height: 100vh;
    margin: 1rem;
}

/*utilities*/

.price{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active){
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     height: 1px;
     overflow: hidden;
     position: absolute;
     white-space: nowrap;
     width: 1px;
}
/**button styles **/
.button{
      cursor: pointer;
      text-decoration: none;
      display: inline-flex;
    gap: 0.5rem;
      justify-content: center;
      align-items: center;
      border: 0;
      border-radius:0.5rem;
      padding: 0.75rem 1.5rem;
      background-color:var(--clr-cyan);
      color: var(--clr-white);
      font-weight: var(--fw-bold);
      font-size: 0.925rem;
}

.button[cart-icon="shopping-cart"]::before{
    content: "";
    width: 15px;
    height: 16px;
    background-image:url("../images/icon-cart.svg");

}

button:is(:hover, :focus){
background-color: var(--clr-dark-cyan);
}

.item{
    --content-padding: 1.5rem;
    --content-spacing:1rem;
    display: grid;

    background-color: var(--clr-white);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}
@media (min-width: 600px){
    .item { 
        --content-padding: 2rem;
         grid-template-columns: 1fr 1fr ;
    }
}

.item__content{
    padding: var(--content-padding);
    display: grid;
    gap: var(--content-spacing);

}
.item__category{
    font-size: 0.8125rem;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.item__title{
    font-size: 2rem;
    font-family: var(--font-family-accent);
    color: var(--clr-dark-blue);
}
.current__price{
    font-size: 2rem;
    font-family: var(--font-family-accent);
    color: var(--clr-cyan);
}

